html,
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #FFF6DE;
  font-size: calc(0.75em + 1vmin);
  font-family:"QualyBold";
}

@font-face {
  font-family: "QualyBold";
  src: local("QualyBold"),
  url("/fonts/Qualy/Qualy-Bold.ttf") format("truetype");
  font-weight: bold;
}

